.cards-wrapper {
}

.cards {
  @include columnizer(1, 1rem);
  .card {
    position: relative;
    background-color: $white;
    min-height: 300px;
    &__figure {
      margin-bottom: 2rem;
      img {
        @include responsive-image;
      }

    }
    &__title {
      font-family: $title-font;
      font-weight: 900;
      font-size: __remify(26px);
      line-height: 1.2;
      margin: 0 0 1rem 0;
    }
    &__label {
      font-size: __remify(16px);
      margin-bottom: 1rem;
      margin-top: -0.5rem;
      opacity: 0.5;
    }
    &__description {
      font-size: __remify(18px);
      line-height: 1.5;
    }
    &__link {
      @include stretched-link;
      text-decoration: none;
      color: inherit;
    }
    @for $i from 1 through 20 {
      @include only($i) {
        @include loadify($i * 0.1s);
      }
    }
    ion-icon {
      display: none;
      position: absolute;
      right: 2rem;
      bottom: 1.8rem;
      font-size: 2rem;
      color: rgb(200, 200, 200);
    }
    &:hover {
      color: $primary-color;
      .card__label {
        opacity: 1;
      }
      &__link {
        color: $primary-color;
      }
      & .card__link {
        color: $primary-color;
      }
    }
    &:active {
      transition: 0.2s;
    }
  }
  &.min-large-2 {
    @include breakpoint(min, large) {
      @include columnizer(2, 2rem);
    }
  }

  &.min-large-3 {
    @include breakpoint(min, large) {
      @include columnizer(3, 2rem);
    }
  }

  &.min-xlarge-3 {
    @include breakpoint(min, xlarge) {
      @include columnizer(3, 2rem);
    }
  }

  &.min-xxlarge-4 {
    @include breakpoint(min, xxlarge) {
      @include columnizer(4, 2rem);
    }
  }

}
