@include antialias;
@include reset-css;
@include border-box;
@include loadify();

$map-for-breakpoints: (
  "xsmall": 0,
  "small": 576px,
  "medium": 768px,
  "large": 992px,
  "xlarge": 1200px,
  "xxlarge": 1600px,
);

@include breakpointer {
  position: fixed;
  right: 1rem;
  top: 1rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  background-color: $body-bg-color;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  float: left;
  background-color: $content-bg-color;
  @include adaptive();
}

.content-wrapper {
  display: flex;
  .content {
    flex: 1;
  }
}


