.navigation {
  font-family: $body-font;
  margin-bottom: 2rem;
  &__brand {
    margin-bottom: 2rem;
    &__logo {}
  }
  &__title {
    @include hide;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  &__list {
    &__item {
      position: relative;
      @include except(last) {
        margin-bottom: 0.6rem;
      }
      &.active {
        .navigation__list__item__link {
          color: $primary-color;
          font-weight: bold;
        }
      }
      &.home {
        margin-bottom: 2rem;
      }
    }
  }
}
