.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: $sidebar-width;
  height: 100%;
  padding: $global-space * 2;
  background-color: $body-bg-color;
  border-right: 1px solid $border-color;
  z-index: 1;
}