<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  {{ partial "head.html" . }}

  <body class="{{ if .IsHome }}home{{ else }}{{ .Section }}{{ end }} layout-list">

    <main class="main">

      <div class="content-wrapper">

        {{ partial "sidebar.html" . }}
        
        <div class="content">
          {{ partial "hero.html" . }}
          <div class="content__header">
            <h2 class="content__title">{{ .Params.Title }}</h2>
            <p>This is the <strong>list page</strong> layout.</p>
          </div>
          <div class="content__body">
            {{ .Content }}
            <ul>
              {{ range .Pages }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{ end }}
            </ul>
          </div>
        </div><!-- .content -->
      </div><!-- .content-wrapper -->

    </main><!-- .main -->

    {{ partial "featured-image.html" . }}

  </body>
  
</html>