<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  {{ partial "head.html" . }}

  <body class="{{ if .IsHome }}home{{ else }}{{ .Section }}{{ end }} layout-projects">

    <main class="main">

      {{ partial "header.html" . }}

      <section class="content-wrapper">

        {{ partial "sidebar.html" . }}
        
        <div class="content">
          
          {{ partial "hero.html" . }}

          <div class="content__header">
            <h2 class="content__title">{{ .Params.Title }}</h2>
            <p>This is the <strong>projects page</strong> layout.</p>
          </div>

          <div class="content__body">

            {{ .Content }}

            <ul class="cards min-large-2">
              {{ range .Pages }}
                <li class="card">
                  <a class="card__link" href="{{ .Permalink }}">
                    <figure class="card__figure">
                      <img src="{{ .File.ContentBaseName }}/images/{{ .Params.image }}" alt="">
                    </figure>
                    <h3 class="card__title">{{ .Title }}</h3>
                    <p class="card__description">{{ .Description }}</p>
                  </a>
                </li>
              {{ end }}
            </ul>


          </div>

        </div><!-- .content -->
      </section><!-- .content-wrapper -->

      {{ partial "footer.html" . }}

    </main><!-- .main -->

    {{ partial "featured-image.html" . }}

  </body>
  
</html>