<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  {{ partial "head.html" . }}

  <body class="{{ if .IsHome }}home{{ else }}{{ .Section }}{{ end }} layout-single">

    <main class="main">

      <div class="content-wrapper">

        {{ partial "sidebar.html" . }}

        <div class="content">

          {{ partial "hero.html" . }}

          <div class="content__header" data-decorative-text="{{ .Params.Title }}">
            <h2 class="content__title">{{ .Params.Title }}</h2>
            <p class="content__description">{{ .Params.quote }}</p>
          </div>

          <div class="content__body">
            {{ .Content }}
          </div>

          <div class="content__footer">
            <div class="tag-container">
              {{ if .Params.tags }}
                {{ range .Params.tags }}
                    <div class="tag">{{ . }}</div>
                {{ end }}
              {{ end }}
            </div>
          </div>

        </div><!-- .content -->
      </div><!-- .content-wrapper -->

  </main><!-- .main -->

  {{ partial "featured-image.html" . }}

  {{ partial "foot.html" . }}

  </body>

</html>