<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  {{ partial "head.html" . }}

  <body class="{{ if .IsHome }}home{{ else }}{{ .Section }}{{ end }} layout-single">

    <main class="main">

      <div class="content-wrapper">
        {{ partial "sidebar.html" . }}
        <div class="content">
          {{ partial "hero.html" . }}
          <div class="content__header">
            <h2 class="content__title">{{ .Params.Title }}</h2>
            <p>This is the <strong>single page</strong> layout.</p>
          </div>
          <div class="content__body">
            {{ .Content }}
          </div>
        </div><!-- .content -->
      </div><!-- .content-wrapper -->

  </main><!-- .main -->

  {{ partial "featured-image.html" . }}

  </body>

</html>